body {
    background-color: rgb(18, 17, 17);
    color: whitesmoke;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
}

button {
    margin-top: 10px;
    padding: 5px 20px;
}

input::-webkit-input-placeholder {
    color: #555555; /* For WebKit browsers (Chrome, Safari) */
}

input:-moz-placeholder {
    color: #555555; /* For Firefox 18- */
}

input::-moz-placeholder {
    color: #555555; /* For Firefox 19+ */
}

input:-ms-input-placeholder {
    color: #555555; /* For Internet Explorer 10+ */
}

.inputs {
    margin-top: 10px;
}

.date {
    margin-top: 10px;
    border-radius: 5px;
}

.event {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

